<p>Search and filter through our Books List with the options below.</p>
<div class="filter-box">
  <div class="text-filter">
    <div class="filter-input">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" [(ngModel)]="authorName" (keyup)="filterBooks()" placeholder="Search by Author name" />
    </div>
    <div class="filter-input">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" [(ngModel)]="bookName" (keyup)="filterBooks()" placeholder="Search by Book name" />
    </div>
  </div>
  <div class="genres-filter">
    <div *ngFor="let genre of genres;" class="genres">
      <i class="fa fa-circle-o" aria-hidden="true" (click)="filterBooksWithGenre(genre)" *ngIf="!isGenreSelected(genre)"> {{genre}}</i>
      <i class="fa fa-check-circle-o" aria-hidden="true" (click)="filterBooksWithGenre(genre)" *ngIf="isGenreSelected(genre)"> {{genre}}</i>
    </div>
  </div>
</div>

<div class="books-items-header">
  <span>Title
    <i class="fa fa-chevron-up" aria-hidden="true" *ngIf="!filtering" (click)="sortBy('up_title')" [ngClass]="{'sorted': sorted === 'up_title'}" ></i>
    <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="!filtering" (click)="sortBy('down_title')" [ngClass]="{'sorted': sorted === 'down_title'}" ></i>
    <i class="fa fa-circle-o-notch fa-spin" *ngIf="filtering && sorted.endsWith('_title')" aria-hidden="true"></i>
  </span>
  <span>Author
      <i class="fa fa-chevron-up"  aria-hidden="true" *ngIf="!filtering" (click)="sortBy('up_author')" [ngClass]="{'sorted': sorted === 'up_author'}" ></i>
      <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="!filtering" (click)="sortBy('down_author')" [ngClass]="{'sorted': sorted === 'down_author'}" ></i>
      <i class="fa fa-circle-o-notch fa-spin" *ngIf="filtering && sorted.endsWith('_author')" aria-hidden="true"></i>
  </span>
  <span>Genre</span>
  <span>Date</span>
</div>
<div class="books-items-box">
  <div *ngFor="let book of booksDisplayed;" class="book-item" [ngClass]="{'halloween' : isHorrorAndHallowen(book.published, book.genre), 'finance-last-friday': isFinanceAndLastFridayOfMonth(book.published, book.genre)}">
    <span>{{book.name}}</span>
    <span class="author">{{book.author.name}}({{book.author.gender}})</span>
    <span>{{book.genre}}</span>
    <span>{{book.published | date}}</span>
  </div>
  <div *ngIf="booksDisplayed.length == 0 && !filtering" class="no-books-message">
    <span>No books have been found</span>
  </div>
  <div class="show-more" *ngIf="booksDisplayed.length < booksFiltered.length">
    <span (click)="showMoreBooks()">Show More</span>
  </div>
</div>