.books-items-header {
    width: 800px;
    margin: auto;
    overflow: hidden;
    span {
        width: 25%;
        float: left;
        padding: 10px 5px;
        font-weight: 700;  
        box-sizing: border-box;
        position: relative;
        
        i {
            position: absolute;
            font-size: 10px;
            right: 15px;
            opacity: 0.6;
            &.fa-chevron-up {
                top: 8px;
                &:hover {
                    color: #000;
                    opacity: 1;
                }
            }
            &.fa-chevron-down {
                top: 17px;
                &:hover {
                    color: #000;
                    opacity: 1;
                }
            }
            &.fa-circle-o-notch {
                top: 14px;
            }
            &.sorted {
                color: #000;
                opacity: 1;
            }
        }
    }
}
.books-items-box {
    max-height: 400px;
    overflow-y: scroll;
    margin: auto;
    width: 800px;
    position: relative;
    margin-bottom: 50px;

    .book-item {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;

        span {
            width: 25%;
            float: left;
            padding: 5px;
            box-sizing: border-box;
        }

        &:nth-child(even){
            background-color: rgba(151, 151, 151, 0.2);
        }

        &.halloween {
            background-color: rgba(241, 180, 10, 0.6);
        }
        &.finance-last-friday {
            background-color: rgba(241, 10, 10, 0.6);
        }
    }
    .show-more {
        text-align: center;
        margin: 40px 0;
        span {
            padding: 10px 20px;
            cursor: pointer;
            border: 1px solid #999;
            &:hover {
                color: #000;
                border: 1px solid #000;
            }
        }
    }
}

.filter-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;

    .text-filter{
        margin-bottom: 20px;
        display: flex;
        align-self: center;
        opacity: 0.6;

        .filter-input{
            border: 1px solid #999;
            margin: 0 5px;
            padding: 0 10px;
            input{
                border: 0;
            }
        }
    }

    .genres-filter{
        display: flex;
        align-self: center;
        .genres{
            padding: 6px 10px;
            cursor: pointer;
            i{
                font-family: 'Lato', sans-serif;
                opacity: 0.6;
                &:before{
                   font: normal normal normal 14px/1 FontAwesome;
                }
                &.fa-check-circle-o {
                    opacity: 1;
                }
            }
            &:hover i {
                opacity: 1;
            }
        }
    }

    input, i {
        margin-right: 5px;
    }

    i {
        cursor: pointer;
    }
    
    .fa-check-square-o {
        &.selected {
            color: green;
        }
    }
}