/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    color: #666;
    font-size: 14px;
}
input {
    padding-left: 5px;
    line-height: 2.5em;
    outline: none;
    color: #000;
}
h1{
    font-weight: 700;
    text-align: center;
    margin: 30px auto 10px;
}
p{
    text-align: center;
    margin-bottom: 40px;
}

i {
    cursor: pointer;
}